{%extends 'index.html'%}
{%block title%}Shop{%endblock%}
{%load static%}
{%block content %}
<section class="w-[100%] h-auto py-10">
  <div class="w-[93%] mx-auto flex flex-col-reverse gap-y-1 lg:gap-y-0 lg:flex-row justify-between">
{% comment %} 
    <div class="dropdown">
      <a class="bg-darkPurple text-white outline-none p-2 appearance-none font-semibold text-xs " href="#" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Choose Technology
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Python</a></li>
        <li><a class="dropdown-item" href="#">React</a></li>
        <li><a class="dropdown-item" href="#">PHP</a></li>
        <li><a class="dropdown-item" href="#">WordPress</a></li>
      </ul>
    </div>  {% endcomment %}


    <div class="flex gap-1 lg:gap-4">
      {%for item in cat%}
      <a href="/buy/{{item.category}}" class="text-xs p-2 font-semibold bg-darkPurple text-white">
        <button type="submit">{{item.category}}</button>
      </a>
      {%endfor%}
      <a href="/customized-enquiry" class="text-xs p-2 font-semibold bg-darkPurple text-white">
        <button type="submit">Customize Website</button>
      </a>
    </div>
  </div>
</section>

<section class="w-[98%] mx-auto h-auto flex justify-evenly flex-wrap gap-y-10 py-10">


  {%for item in data%}
  <div class="shadow-lg hover:scale-[1.05] duration-200">
    <a href="/enquiry/{{item.product_id}}">
      <div class="object-cover">
        <img src={{item.product_image.url}} alt="" width="350px" />
      </div>
      <div class="text-sm font-semibold text-center py-2">
        <a href="">
          <h3>Website :<b> {{item.product_name}}</b></h3>
          <h3>Technology : <b>{{item.product_technology}}</b></h3>
        </a>
        <div class="flex justify-between w-[90%] mx-auto mt-2 items-center">
          <div>
            <span class="font-semibold text-darkPurple text-lg select-none">₹{{item.product_price}}</span>
          </div>
          <div class="flex gap-3">
            <a href="/enquiry/{{item.product_id}}" class="bg-darkPurple text-white p-2">
              <i class="fa fa-cart-shopping text-lg"></i>
            </a>
            <a href="//{{item.product_web_link}}" target="_blank">
              <button type="submit" class="px-8 py-2 bg-darkPurple text-white">
                Live Preview
              </button>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
  {%endfor%}


</section>
{%endblock%}